body{
  display: block; 
}

#indexBackground{
  position: fixed;
  right:0;
  left: -10vw;
  top: 0;
  bottom: 0;

  display: block;
  margin: auto;
  z-index: -1;
  
  height: 100vh;
  width: 120vw;

}

#title {
  position: absolute;

  font-family: var(--primary-font);
  text-align: center;
  

  height: 25vh;
  bottom: 2.5vh;
  left: 0;
  right: 0;
  color: #fff;
  
  z-index: 5;
}

#title h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  font-size: 12vh;
  font-weight: 900;

  padding-top: 5vh;
  margin: 0;

  color: white;
  /*background-image:  url('../res/pixel/glitch8.gif');
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;*/

  z-index: 5;
}

#title h2{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 2vh 2vw 0 2vw;
  
  font-family: var(--secondary-font);
  font-size: 8vh;
  font-weight: normal;
  font-style: normal;

  z-index: 5;
}

#logo{
  position: fixed;
  margin: auto;

  left:0;
  right:0;
  top:0;
  bottom: 0;

  width: 70.5vw;
  height: 70.5vw;

  z-index: 0;
}

#circle{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75vw;
  margin-left: -100vw;

  height: 200vw;
  width: 200vw;

  border: solid;
  border-color: black;
  border-width: 66vw;

  border-radius: 200vw;
}

@media (max-width: 1200px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 800px) {
  #title h1{
    font-size: 7vh;
  }
  #title h2{
    font-size: 5vh;
  }
}