/* !CUSTOM STYLES ---------------------------------------------------------------*/
header {
  height: 100%;
  margin: 0;
  scroll-behavior: 
  color: #d00000;
  width: 100%;
  position: fixed;
  z-index: 99;
}

body#home #menu-trigger {
  display: none;
}

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.site-container {
  height: auto;
  width: 100% !important;
  position: absolute;
}

#home {
  height: auto;
  background-color: #fff;
  width: 100%;
  overflow-y: hidden;
}

@font-face {
    font-family: 'Javacom';
    src: url('../res/fonts/Javacom.woff2') format('woff2'),
        url('../res/fonts/Javacom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CF Samurai Bob';
    src: url('../res/fonts/CFSamuraiBob-Regular.woff2') format('woff2'),
        url('../res/fonts/CFSamuraiBob-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ebrima';
    src: url('../res/fonts/Ebrima.woff2') format('woff2'),
        url('../res/fonts/Ebrima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root{
  --primary-font: 'Javacom';
  --secondary-font: 'CF Samurai Bob';
  --tertiary-font: 'Ebrima';
}

/* !Menu Styles ---------------------------------------------------------------*/
.hamburger-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 165px 150px 0;
  border-color: transparent #fff transparent transparent;
  z-index: 998;
}

#menu-trigger {
  display: none;
  top: 30vw;
  right: 30vw;
  position: fixed;
}

.menu-drawer {
  width: 100%;

  background-color: #fff;

  height: 100vh;
  text-align: center;
  z-index: 999;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0s 0.5s;
}

#menuBackground{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  height: 150%;
  width: auto;

  position: relative; 
}

.menu-drawer > div {
  height: 100vh;
  top: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 0s 0.5s;
}

.menu-drawer > div .menu-inner {
  position: relative;
}

.menu-drawer > div .menu-link {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 75%;

  margin-top: auto;
  margin-bottom: auto; 
}

/*menu items*/
.menu-drawer > div .menu-link .navlink {
  font-size: 8vh;
  display: block;
  cursor: pointer;
  line-height: 10.75vh;

  font-family: var(--secondary-font);
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px black;
}

.menu-drawer > div .location {
  color: #FFF;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 32vh;
}

.menu-drawer > div .location .social {
  font-size: 4.2em;
  top: 0;
}

.menu-drawer > div .location .social a {
  color: #FFF;
  margin: 0 10px;
}

.menu-drawer > div .location .social a:hover {
  color: #fff;
}

.menu-trigger {
  position: fixed;
  top: 25px;
  right: 30px;
  height: 30px;
  width: 43px;
  cursor: pointer;
  z-index: 999;
}

/*menu-top*/
.menu-trigger span {
  position: absolute;
  top: -5px;
  left: 0;
  height: 3px;
  width: 134%;
  background: #000;
  transition: transform 0.2s, top 0.3s 0.2s;
  font-size: 1em;
}

/*"Menu" word*/
.menu-trigger span:before {
  position: relative;
  height: 3px;
  width: 100%;
  top: -20px;
  left: -10px;
  color: #000;
  content: "MENU";
  font-size: 45px;
  font-family: var(--secondary-font);
  transition: opacity 0.3s 0.4s;
  font-weight: normal;
  text-align: center;
}

/*menu-bottom*/
.menu-trigger span:after {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  content: "";
  top: 35px;
  left: 0;
  transition: transform 0.2s, top 0.3s 0.2s;
}

#menu-trigger:checked + .menu-drawer {
  opacity: 1 !important;
  visibility: visible !important;
  animation: reveal 1s ease-in-out;
  z-index: 99;
}

#menu-trigger:checked + .menu-drawer > div {
  opacity: 1;
}

#menu-trigger:checked ~ .menu-trigger span {
  top: 15px;
  transform: rotate(45deg);
  transition: top 0.2s, transform 0.4s 0.2s;
  background: #fff;
}

#menu-trigger:checked ~ .menu-trigger span:before {
  opacity: 0;
  transition: opacity 0.15s;
}

/*menu-x*/
#menu-trigger:checked ~ .menu-trigger span:after {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.2s, transform 0.4s 0.2s;
  background: #fff;
}

#menu-trigger:checked ~ .hamburger-bg{
  border-color: transparent #262626 transparent transparent;
}

/*menu open*/
#menu-trigger:checked ~ .block {
  animation: cover 1s ease-in-out;
  animation-fill-mode: forwards;
  background: #262626;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 998;
}

/*menu close; first load;*/
#menu-trigger:not(:checked) ~ .block {
  animation: hide 1s ease-in-out;
  animation-fill-mode: forwards;
  background: #262626;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 998;
}

@keyframes reveal {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes cover {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes hide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

#mainBackground{
  position: fixed;
  right:0;
  left: 0;
  top: 0;
  bottom: 0;

  display: block;
  z-index: -1;
  margin: 0;
  
  height: 100vh;
  width: 100vw;

}

#pageBackground{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  display: block;
  z-index: -1;
  margin: 0;
  
  height: 100vh;
  width: 100vw;
}

#mainTitle{
  font-family: var(--primary-font);
  font-weight: bold;
  text-align: left;

  position: fixed;
  margin: auto;
  z-index: 1;
  top: 6vh;
  left: 7vw;
  right: 0;

  color: #fff;
  font-size: 10vh;
  text-shadow: 2px 2px 5px black;
}



#panel{
  position: fixed;
  overflow-x: hidden;

  top: 18vh;
  bottom: 2.5vh;
  left: 5vh;
  right: 5vh;

  background-color: white;
  z-index: 1;

  box-shadow: -5px 5px 10px black;
}

#panel::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

#panel::-webkit-scrollbar
{
  height: 5px;
  width: 5px;
  background-color: rgba(245, 245, 245, .4);
}

#panel::-webkit-scrollbar-thumb
{
  background-color: #303030;
  pointer-events: none;
}

@media (max-width: 1200px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 800px) {
  .menu-trigger span:before {
    line-height: 150%;
  }

  .menu-drawer > div .menu-link {
    bottom: 10vh;
  }
}