/* !CUSTOM STYLES ---------------------------------------------------------------*/
header {
  height: 100%;
  margin: 0;
  scroll-behavior: 
  color: #d00000;
  width: 100%;
  position: fixed;
  z-index: 99;
}

body#home #menu-trigger {
  display: none;
}

html, body{
  margin: 0;
  height: 100%;
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.site-container {
  height: auto;
  width: 100% !important;
  position: absolute;
}

#home {
  height: auto;
  background-color: #fff;
  width: 100%;
  overflow-y: hidden;
}

@font-face {
    font-family: 'Javacom';
    src: url('../res/fonts/Javacom.woff2') format('woff2'),
        url('../res/fonts/Javacom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CF Samurai Bob';
    src: url('../res/fonts/CFSamuraiBob-Regular.woff2') format('woff2'),
        url('../res/fonts/CFSamuraiBob-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
  --primary-font: 'Javacom';
  --secondary-font: 'CF Samurai Bob';
  --tertiary-font: 'Ebrima';
}
/* !CUSTOM STYLES ---------------------------------------------------------------*/
.jobDescription{
  background-color: rgba(245, 245, 245, .3);
  box-shadow: -5px 5px 10px black;

  overflow-y: auto;
  padding: 2.5vh 2.5vw 0 2.5vw;
}

.jobDescription a{
  font-family: var(--secondary-font);
  font-size: 8vh;
  color: white;

  line-height: 50%;
}

.jobDescription h2{
  font-family: var(--tertiary-font);
  font-size: 2vh; 

  margin: 5px 0 5px 0;

  margin: 0;
}

.jobDescription p{
  font-family: var(--tertiary-font);
  font-size: 2.5vh; 
  text-align: justify;

  line-height: 100%;

  height: 32.5vh;
}

#panel{
  overflow-y: scroll;
}

@media (max-width: 1200px) {
  .jobDescription a{
    font-size: 6vh;
  }
  .jobDescription p{
    font-size: 2vh;
  }
}
@media (max-width: 1024px) {

}
@media (max-width: 800px) {
  .jobDescription p{
    font-size: 1.9vh;
  }
  .jobDescription {
    padding: 2.5vh 5vw 0 5vw;
  }
  #panel{
    left: 0;
    right: 0;
    bottom: 0;
  }
}
