$font-bold: 'Gotham TF Bold', sans-serif;
$font-med: 'Gotham TF Medium', sans-serif;
$font-book: 'Gotham TF Book', sans-serif;
$font-light: 'Gotham TF Light', sans-serif;
$font-xl: 'Gotham TF Extra', sans-serif;
$font-script: 'Indie W00 Regular';
$font-icons: 'Official Brand Icons';
$font-blacktie: 'Black Tie';
$color-primary: #D3E9D4;
$color-secondary: #232C2B;
$color-tertiary: #FF5F50;
$color-quaternary: #A0B8AE;
$header-height: 60px;


/* !FONT STYLES -------------------------------------------------- */
@font-face {
	font-family: 'Gotham TF Bold';
	src: url('http://www.trns.fm/fonts/GothamTF-Bold.eot');
	src: url('http://www.trns.fm/fonts/GothamTF-Bold.eot?#iefix') format('embedded-opentype'),
		url('http://www.trns.fm/fonts/GothamTF-Bold.woff2') format('woff2'),
		url('http://www.trns.fm/fonts/GothamTF-Bold.woff') format('woff'),
		url('http://www.trns.fm/fonts/GothamTF-Bold.ttf') format('truetype'),
		url('http://www.trns.fm/fonts/GothamTF-Bold.svg#GothamTF-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham TF Book';
	src: url('http://www.trns.fm/fonts/GothamTF-Book.eot');
	src: url('http://www.trns.fm/fonts/GothamTF-Book.eot?#iefix') format('embedded-opentype'),
		url('http://www.trns.fm/fonts/GothamTF-Book.woff2') format('woff2'),
		url('http://www.trns.fm/fonts/GothamTF-Book.woff') format('woff'),
		url('http://www.trns.fm/fonts/GothamTF-Book.ttf') format('truetype'),
		url('http://www.trns.fm/fonts/GothamTF-Book.svg#GothamTF-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham TF Extra';
	src: url('http://www.trns.fm/fonts/GothamTF-ExtraLight.eot');
	src: url('http://www.trns.fm/fonts/GothamTF-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('http://www.trns.fm/fonts/GothamTF-ExtraLight.woff2') format('woff2'),
		url('http://www.trns.fm/fonts/GothamTF-ExtraLight.woff') format('woff'),
		url('http://www.trns.fm/fonts/GothamTF-ExtraLight.ttf') format('truetype'),
		url('http://www.trns.fm/fonts/GothamTF-ExtraLight.svg#GothamTF-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham TF Light';
	src: url('http://www.trns.fm/fonts/GothamTF-Light.eot');
	src: url('http://www.trns.fm/fonts/GothamTF-Light.eot?#iefix') format('embedded-opentype'),
		url('http://www.trns.fm/fonts/GothamTF-Light.woff2') format('woff2'),
		url('http://www.trns.fm/fonts/GothamTF-Light.woff') format('woff'),
		url('http://www.trns.fm/fonts/GothamTF-Light.ttf') format('truetype'),
		url('http://www.trns.fm/fonts/GothamTF-Light.svg#GothamTF-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham TF Medium';
	src: url('http://www.trns.fm/fonts/GothamTF-Medium.eot');
	src: url('http://www.trns.fm/fonts/GothamTF-Medium.eot?#iefix') format('embedded-opentype'),
		url('http://www.trns.fm/fonts/GothamTF-Medium.woff2') format('woff2'),
		url('http://www.trns.fm/fonts/GothamTF-Medium.woff') format('woff'),
		url('http://www.trns.fm/fonts/GothamTF-Medium.ttf') format('truetype'),
		url('http://www.trns.fm/fonts/GothamTF-Medium.svg#GothamTF-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Official Brand Icons';
	src: url('http://www.trns.fm/fonts/OfficialBrandIcons-Regular.eot');
	src: url('http://www.trns.fm/fonts/OfficialBrandIcons-Regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.trns.fm/fonts/OfficialBrandIcons-Regular.woff') format('woff'),
		url('http://www.trns.fm/fonts/OfficialBrandIcons-Regular.ttf') format('truetype'),
		url('http://www.trns.fm/fonts/OfficialBrandIcons-Regular.svg#OfficialBrandIcons-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Black Tie';
	src: url('http://www.trns.fm/fonts/ss-black-tie-regular.eot');
	src: url('http://www.trns.fm/fonts/ss-black-tie-regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.trns.fm/fonts/ss-black-tie-regular.woff') format('woff'),
		url('http://www.trns.fm/fonts/ss-black-tie-regular.ttf') format('truetype'),
		url('http://www.trns.fm/fonts/ss-black-tie-regular.svg#OfficialBrandIcons-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


html, body{
	font-size: 10px;
}

body{
	font-family: $font-med;
	color: $color-secondary !important;
}


/* !CUSTOM STYLES ---------------------------------------------------------------*/

header {
	height: $header-height;
	color: $color-primary;
	width: 100%;
	position: fixed;
	z-index: 99;
}

body#home #menu-trigger{
	display: none;
}

.site-container{
	height: auto;
	width: 100% !important;
	overflow-x: hidden !important;
	position: absolute;
}

#home{
	height: auto;
	background-color: #FFF;
	width: 100%;
	overflow-x: hidden;
}


/* !Menu Styles ---------------------------------------------------------------*/
.hamburger-bg{
	position: fixed;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 165px 150px 0;
	border-color: transparent #FF5F50 transparent transparent;
	z-index: 998;
}

#menu-trigger{
	display: none;
	top: 30px;
	right: 30px;
	position: fixed;
}

.menu-drawer{
	width: 100%;
	background: rgba(255, 95, 80, 0.95);
	height: 100vh;
	text-align: center;
	z-index: 999;
	position: fixed;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0s 0.5s;
	>div{
		height: 100vh;
		top: 0;
		position: absolute;
		width: 100%;
		opacity: 0;
		transition: opacity 0s 0.5s;
		.menu-link{
			height: auto;
			width: 100%;
			position: absolute;
			top: 42%;
			transform: translateY(-50%);
			.navlink{
				text-transform: uppercase;
				color: #FFF;
				font-size: 6em;
				display: block;
				cursor: pointer;
				line-height: 1.6em;
				font-family: $font-light;
			}
		}	
		.location{
			color: #FFF;
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 32vh;
			.social{
				font-family: $font-icons;
				font-size: 4.2em;
				top: 0;
				a{
					color: #FFF;
					margin: 0 10px;
					&:hover{
						color: #FFF;
					}
				}
			}
		}
	}	
}

.menu-trigger {
	position: fixed;
	top: 25px;
	right: 30px;
	height: 30px;
	width: 43px;
	cursor: pointer;
	z-index: 999;
}

.menu-trigger span {
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background: #FFF;
	font-family: $font-med;
	transition: transform 0.2s, top 0.3s 0.2s;
	font-size: 1.3em;
}
.menu-trigger span:before {
	position: absolute;
	height: 3px;
	width: 100%;
	top: 5px;
	left: 0;
	color: #FFF;
	content: "MENU";
	transition: opacity 0.3s 0.4s;
	font-weight: normal;
    text-align: center;
}
.menu-trigger span:after {
	position: absolute;
	height: 3px;
	width: 100%;
	background: #FFF;
	content: "";
	top: 25px;
	left: 0;
	transition: transform 0.2s, top 0.3s 0.2s;
}

#menu-trigger:checked + .menu-drawer {
	opacity: 1 !important;
	visibility: visible !important;
	animation: reveal 1s ease-in-out;
	z-index: 99;
	>div{
		opacity: 1;
	}
}

#menu-trigger:checked ~ .menu-trigger span {
	top: 15px;
	transform: rotate(45deg);
	transition: top 0.2s, transform 0.4s 0.2s;
}
#menu-trigger:checked ~ .menu-trigger span:before {
	opacity: 0;
	transition: opacity 0.15s;
}
#menu-trigger:checked ~ .menu-trigger span:after {
	top: 0;
	transform: rotate(-90deg);
	transition: top 0.2s, transform 0.4s 0.2s;
}

#menu-trigger:checked ~ .block {
	animation: cover 1s ease-in-out;
	animation-fill-mode: forwards;
	background: #D3E9D4;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 998;
}

#menu-trigger:not(:checked) ~ .block {
	animation: hide 1s ease-in-out;
	animation-fill-mode: forwards;
	background: #D3E9D4;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 998;
}

@keyframes reveal {
	0% { transform: translateX(-100%); }
	50% { transform: translateX(0); }
	100% { transform: translateX(0); }
}

@keyframes cover {
	0% { transform: translateX(-100%); }
	50%{ transform: translateX(0%); }
	100% { transform: translateX(100%); }
}

@keyframes hide {
	0% { transform: translateX(-100%); }
	50% { transform: translateX(0); }
	100% { transform: translateX(100%); }
}
